<div class="card">
  <div class="card-img-top">
    {{!-- на обєкті sprites візьми свойство front_default це зображення--}}
    <img src="{{sprites.front_default}}" alt="{{name}}">
  </div>
  <div class="card-body">
    {{!-- дивлюся в консолі що прийшло і підставляю назви,
    також читаємо доки куди давали запрос --}}
    <h2 class="card-title">Имя: {{name}}</h2>
    <p class="card-text">Вес: {{weight}}</p>
    <p class="card-text">Рост: {{height}}</p>
      {{!-- тут навички --}}
    <p class="card-text"><b>Умения</b></p>
    <ul class="list-group"></ul>
    {{#each abilities}}
      <li class="list-group-item">{{ability.name}}</li>
    {{/each}}
    </ul>
  </div>
</div>